<a href="https://colab.research.google.com/github/PadmajaVB/Sexist-Statement-Detection/blob/main/tweet_cleaner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import re
!pip install emoji #to remove emojis from the tweets
import emoji
csv1= pd.read_csv('first200.csv', header= None)
csv2= pd.read_csv('1500to4520.csv', header= None)
csv3= pd.read_csv('4520.csv', header= None)

Requirement already satisfied: emoji in /usr/local/lib/python3.7/dist-packages (1.2.0)

In [ ]:
csv= pd.concat([csv1, csv2, csv3]) #concatenating the files obtained by running for 3 attempts

In [ ]:
csv.drop([0], axis=1, inplace= True) #do .head() before to check if 0th col or row has to be removed
csv.drop([0], axis=0, inplace= True)

In [ ]:
csv.head()

                                                   1
1  RT @GemmaAnneStyles: Happy #womensday to all m...
2  RT @girlsreallyrule: The lights are out at the...
3  RT @antonioguterres: We can’t achieve any of o...
4    "she parties like a man but loves like a woman"
5  RT @GemmaAnneStyles: Happy #womensday to all m...

In [ ]:
csv.drop_duplicates(inplace=True) #duplicate tweets

In [ ]:
print(len(csv))
csv.head()

401

                                                   1
1  RT @GemmaAnneStyles: Happy #womensday to all m...
2  RT @girlsreallyrule: The lights are out at the...
3  RT @antonioguterres: We can’t achieve any of o...
4    "she parties like a man but loves like a woman"
6  RT @xanria_018: Lucky is the man who is the fi...

In [ ]:
csv.reset_index(inplace=True)
csv.drop(['index'], axis=1,inplace= True)

In [ ]:
def preprocess(df):
  df[1]= [re.sub('((www\.[^\s]+)|(https?://[^\s]+)|(http?://[^\s]+))', '', ln) for ln in df[1]] #remove websites
  df[1]= [re.sub(r'http\S+', '', ln) for ln in df[1]] 
  df[1]= [re.sub('@[^\s]+', '', ln) for ln in df[1]] #remove account mentions
  df[1]= [emoji.get_emoji_regexp().sub(u'', ln) for ln in df[1]] #remove emojis
  df[1]= [ln.split() for ln in df[1]] 
  
  for i,ln in enumerate(df[1]):
    try:
      ln.remove('RT') #remove retweets
    except:
      continue
    df.iloc[i,0]=ln
  [print(ln) for ln in df[1]]
  return df

In [ ]:
csv.dropna(inplace= True) #remove any null values

In [ ]:
csv= preprocess(csv)

In [ ]:
csv.head()

                                                   1
0  [Happy, #womensday, to, all, my, sassy, women,...
1  [The, lights, are, out, at, the, Statue, of, L...
2  [We, can’t, achieve, any, of, our, goals, with...
3  ["she, parties, like, a, man, but, loves, like...
4  [Lucky, is, the, man, who, is, the, first, lov...

In [ ]:
csv=csv[1].str.join(" ")

0      Happy #womensday to all my sassy women, classy...
1      The lights are out at the Statue of Liberty......
2      We can’t achieve any of our goals without the ...
3        "she parties like a man but loves like a woman"
4      Lucky is the man who is the first love of a wo...
                             ...
396    Literally can eat a whole pizza to myself .......
397    'THE BIGGEST COWARD OF A MAN IS TO AWAKEN THE ...
398    We want to construct a different world of work...
399    Do not awaken the love of a woman, without the...
400    Nothing better in this world than a man making...
Name: 1, Length: 400, dtype: object

In [ ]:
csv.to_csv("Benevolent_sexism.csv")